##############################################################################
# Core Configuration
#
# Basic mod details
MOD_ID="dc"
ENGINE_VERSION="release-20250330"

# Automatic engine management
AUTOMATIC_ENGINE_MANAGEMENT="True"
AUTOMATIC_ENGINE_SOURCE="https://github.com/OpenRA/OpenRA/archive/${ENGINE_VERSION}.zip"
AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="OpenRA-${ENGINE_VERSION}"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="${ENGINE_VERSION}.zip"

##############################################################################
# Packaging
#
PACKAGING_INSTALLER_NAME="OpenDarkColony"
PACKAGING_DISPLAY_NAME="Open Dark Colony"
PACKAGING_WEBSITE_URL="https://github.com/open-dark-colony"
PACKAGING_FAQ_URL=""
PACKAGING_OVERWRITE_MOD_VERSION="False"

##############################################################################
# Compile
#
# Specifies the .sln file used for compilation.
SOLUTION_FILE="DarkColony.sln"
